In [2]:
names = ['James','Michael','Emma','Emily']

print("naems的数据类型：",type(names))
print(names)

naems的数据类型： <class 'list'>
['James', 'Michael', 'Emma', 'Emily']

In [3]:
n = len(names)
print(n)

4

In [4]:
empty_list = [ ]
empty_list

[]

In [5]:
len(empty_list)

0

In [6]:
names[0]

'James'

In [7]:
names[-2]

'Emma'

In [8]:
for name in names:
    print(name)

James
Michael
Emma
Emily

In [9]:
for i in range(len(names)):
    print(names[i])

James
Michael
Emma
Emily

In [10]:
names.append('Jacob')
names

['James', 'Michael', 'Emma', 'Emily', 'Jacob']

In [11]:
names.insert(1,'Ava')
names

['James', 'Ava', 'Michael', 'Emma', 'Emily', 'Jacob']

In [12]:
names.pop()

'Jacob'

In [13]:
names

['James', 'Ava', 'Michael', 'Emma', 'Emily']

In [14]:
print(names)

['James', 'Ava', 'Michael', 'Emma', 'Emily']

In [15]:
names.pop(0)

'James'

In [16]:
names

['Ava', 'Michael', 'Emma', 'Emily']

In [17]:
type(names)

list

In [18]:
names[2] = 'Lemon'
names

['Ava', 'Michael', 'Lemon', 'Emily']

In [23]:
#列表相加
print("列表相加：",[1,2,3]+['a','b'])

#列表相乘
print("列表相乘：",['a','b']*3)

#判断元素是否存在于列表当中
print("判断元素是否存在于列表当中：",'a' in ['a','b'])
print("判断元素是否存在于列表当中：",'a' not in ['a','b'])

列表相加： [1, 2, 3, 'a', 'b']
列表相乘： ['a', 'b', 'a', 'b', 'a', 'b']
判断元素是否存在于列表当中： True
判断元素是否存在于列表当中： False

In [24]:
list1 = [1,2,3,9,6,3]
list2 = [3,8,5,4,7,4]
tuple1 = (3,9,6)

#列表的函数
print("列表的最大值：",max(list1))
print("列表最小值：",min(list1))
print("将元组转为列表：",list(tuple1))

#列表的方法
print("extend：",list1.count(3))

list1.extend(list2)
print("extend:",list1)

print("index:",list2.index(4))

list2.sort()
print("sort:",list2)

list2.reverse()
print("reverse:",list2)

列表的最大值： 9
列表最小值： 1
将元组转为列表： [3, 9, 6]
extend： 2
extend: [1, 2, 3, 9, 6, 3, 3, 8, 5, 4, 7, 4]
index: 3
sort: [3, 4, 4, 5, 7, 8]
reverse: [8, 7, 5, 4, 4, 3]

In [25]:
a_list = ['Lemon',100,['a','b','c','d'],True]
a_list

['Lemon', 100, ['a', 'b', 'c', 'd'], True]

In [26]:
a_list[0]

'Lemon'

In [27]:
a_list[2]

['a', 'b', 'c', 'd']

In [28]:
item_b = a_list[2][1]
item_b

'b'

In [29]:
c_list = ['James','Ava','Michael','Emma','Emily','Jacob']
c_list

['James', 'Ava', 'Michael', 'Emma', 'Emily', 'Jacob']

In [31]:
c_list[1:3]

['Ava', 'Michael']

In [32]:
c_list

['James', 'Ava', 'Michael', 'Emma', 'Emily', 'Jacob']

In [33]:
c_list[::2]

['James', 'Michael', 'Emily']

In [34]:
c_list[1:3:2]

['Ava']

In [35]:
c_list[::-1]

['Jacob', 'Emily', 'Emma', 'Michael', 'Ava', 'James']

In [36]:
c_list[::-2]

['Jacob', 'Emma', 'Ava']

In [37]:
c_list[0,1,3]

TypeError: list indices must be integers or slices, not tuple

In [38]:
str_list = [x.lower() for x in "Lemon"]
str_list

['l', 'e', 'm', 'o', 'n']

In [39]:
list_list = [x+2 for x in (1,2,3,4)]
list_list

[3, 4, 5, 6]

In [40]:
ge_list = [x for x in range(8)]
ge_list

[0, 1, 2, 3, 4, 5, 6, 7]

In [42]:
ge_list = [x**2 for x in (1,2,3,4)]
ge_list

[1, 4, 9, 16]

In [44]:
[x**2+y for x in range(5) for y in range(4,7)]

[4, 5, 6, 5, 6, 7, 8, 9, 10, 13, 14, 15, 20, 21, 22]

In [47]:
two_for_list = []

for x in range(5):
        for y in range(4,7):
            two_for_list.append(x**2+y)
print(two_for_list)

[4, 5, 6, 5, 6, 7, 8, 9, 10, 13, 14, 15, 20, 21, 22]

In [51]:
d = {'x':'1','y':'2','z':'4'}
d_list = [k+'='+v for k,v in d.items()]
d_list

['x=1', 'y=2', 'z=4']

In [52]:
if_list = [x**2 for x in range(10) if x%2==0]
if_list

SyntaxError: unexpected EOF while parsing (<ipython-input-52-a9a285d65471>, line 1)